/* Place custom css here. */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,800');



p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans KR';

}

main.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}

main.px-7{
    padding-left: 1rem;
    padding-right: 1rem;
}


body::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

body::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgb(129, 129, 129);
}

body::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(50, 50, 50, 0.872);
}

body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

code {
    font-family: 'Consolas'; /* 폰트 설정 */
    background-color: #b2b2b214; /* 배경색 */
    color : rgb(216, 67, 67) !important ;
    margin:0; /* 여백 설정 */
    font-size: 0.8rem; /* 폰트 크기 */
    border-radius: 4px; /* 모서리 둥글게 */
    /*border: 1px solid #ccc;*/ /* 테두리 설정 */
}
code:before, code:after {
    content: '';
    color: transparent;
}

code::-webkit-scrollbar{
    width: 5px;
    height: 6px;
  }
  
  code::-webkit-scrollbar-thumb{
      background-color: #2f3542;
      border-radius: 10px;
  }
  
  code::-webkit-scrollbar-track{
      background-color: grey;
      border-radius: 10px;
      /* box-shadow: inset 0px 0px 5px white; */
  }
  
  code::-webkit-scrollbar-corner {
    background: transparent;
}

pre {
    /* color: inherit !important; 부모 요소의 색상을 상속 받음 */
    white-space: pre; /* 코드가 줄 바꿈 없이 그대로 표시되도록 설정 */
    overflow: auto; /* 가로 및 세로 스크롤바 표시 */
}

article .highlight pre {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #002b36 !important;  /* Solarized Dark 배경색 */
    color :#a7a7a7 !important
}

pre::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

pre::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgb(129, 129, 129);
}

pre::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(100, 95, 122, 0.872);
}

pre::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}



::selection{
    background: rgba(0, 136, 255, 0.69);
    color: #221100;
 }

/* 목차테이블 추가 */
.content-wrapper {
    display: flex;
    justify-content: space-between;
}

/* toc style */
.toc {
    position: fixed;
    top: 200px;
    right: 80px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-right: 0px;
    /* border-left: 2px solid #e0d9e7;   */
    display: none;
}

.toc.toc-visible {
    display: block; /* 특정 위치 이후부터 표시 */
}

@media (min-width: 75em) {
    .toc {
        right:30px;
        width: 180px;
        display: block;
    }
}

@media (min-width: 85em) {
    .toc {
        right:30px;
        
        width: 200px;
        display: block;
    }
}

@media (min-width: 95em) {
    .toc {
        right:80px;
        width: 250px;
        display: block;
    }
}

.toc p{
    margin-top:0.1em !important;
    margin-bottom: 0.1em !important;
}

.toc a {
    text-decoration: none !important;
    color: inherit !important;
    font-weight: normal !important;
    font-size: 0.78rem !important;
    opacity: 80% !important;
}

.toc a:hover {
    color: rgb(0, 212, 239) !important;
    text-decoration: underline !important;
}

.toc a.toc-active {
    font-weight: bold !important; 
    transition: all 0.125s ease-in 0s;
    font-size: 0.9rem !important;
    opacity: 100% !important;
    border-left: 3px solid #00b8d4 !important; 
    padding-left: 0.75rem;
}


.toc ul {
    list-style-type: none;
    margin-bottom: 0.1rem;
    padding-left: 0rem;
    margin-top: 0.1em;
}

.toc ul li {
    padding-left: .5rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* 글 목록 박스처리 */
.absolute {
    position: absolute;
    background-color: #e9e9e912;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: -16px;
    margin-top: -16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.absolute:hover{
    transform: translateY(-5px); /* 호버 시 약간 위로 올라가는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강화 */
}

.post-title {
    line-height: 1 !important;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 24px;
    padding-bottom: .25rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    /* margin-top: 2em; */
    /* margin-bottom: 1em; */
    /* line-height: 1.3333333; */
}

.post-date {
    margin-top: 0;
    margin-left: 24px;
    font-size: .875rem;
    line-height: 1.25rem;
    opacity: .6;
}

.post-category{
    font-size: .875rem;
    opacity: .6;
    margin-left: 20px;
}

/* 글 색 */
article {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.8;
    --tw-text-opacity: 1;
    color: rgb(33 33 33 / var(--tw-text-opacity)) !important;
  }


:is(:where(.dark) article) {
    --tw-text-opacity: 1;
    color: rgb(200 200 200 / var(--tw-text-opacity)) !important;
  }
  
/* blockquote */
article blockquote {
    border-left: 0;
    /* border-left-width: 3px !important; */
    --tw-border-opacity: 1 !important;
    background-color: #c9c9c93b;
    font-weight: normal;
    border-radius: 0.4em;
    padding: 0.1rem 1rem;                  /* 내부 여백 */
    border-radius: 8px;             /* 모서리 둥글게 */
    position: relative;             /* ::before 요소 위치 조정 */
    font-size: 15px;                /* 글자 크기 */
    line-height: 1.6;               /* 줄 간격 */
}

/* 아이콘 추가 */
blockquote::before {
    content: "🤔";                 /* Unicode를 사용하여 '정보' 느낌표 추가 */
    font-size: 1.3rem;              /* 아이콘 크기 */
    color: #001ee3;                 /* 아이콘 색상 */
    position: absolute;             /* 위치를 고정 */
    top: 40%;                       /* blockquote 높이의 중간에 배치 */
    left: 1rem;                     /* 왼쪽 여백 */
    transform: translateY(-50%);    /* 수직 가운데 정렬 */
}

/* 아이콘과 텍스트 간 여백 */
blockquote p {
    margin: 0;                      /* 기본 여백 제거 */
    padding-left: 2.4rem;             /* 아이콘과 텍스트 사이 여백 추가 */
}